.container {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
  }
  
  .news-table {
    width: 70%;
    border-collapse: collapse;
    margin-right: 20px;
  }
  
  .news-table th, .news-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  
  .news-table th {
    background-color: #f4f4f4;
  }
  
  .btn-view {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .btn-view:hover {
    background-color: #0056b3;
  }
  
  .news-details {
    width: 30%;
    padding: 20px;
    background-color: #f9f9f9;
    border-left: 1px solid #ddd;
    display: block;
  }
  
  .news-details h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .news-details p {
    font-size: 16px;
    color: #333;
  }
  
  /* Estilos para la imagen */
  .image-container {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  
  .bottom-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  